
<div class="pg-light row offset-1 mt-4">

<div class="mb-2">
  <h5 class="d-inline">  books: </h5>
  <a class=" col-2 offset-6 btn btn-sm bg-black text-white me-2 "
    <%= link_to "Add a-book" , new_book_path %>
  </a>
</div>
<% @books.each do |p| %>
    <div class="card border-light bg-black mb-3 col-3 m-1 ">
      <div class="row g-0">
        <div class="col-md-4">

          <%= image_tag(p.image,class:'img-thumbnail img-fluid rounded-start mt-2') %>
        </div>
        <div class="col-md-8">
          <div class="card-body p-0 mt-2 ms-1">
            <h5 class="card-title text-white "><%= p.name %></h5>
            <p class="card-text text-white "> <%=( p.description ).truncate_words(3)%></p>
            <p class="card-text text-white"><small class="text-muted">updated at <%= (p.updated_at.strftime("%Y-%m-%d")) %> mins ago</small>
             <br/> <small class="fs-6 text-white "> written By :</small> <small class="text-muted fst-italic"><%= p.user.name %></small></p>
          </div>
        </div>
      </div>
      <div class="col-12 offset-1 mt-1 mb-2 text-white">
        <a class="btn btn-sm btn-primary text-white"
        <%= link_to "Details" , p %>
        </a>
        <a class="btn btn-sm btn-warning"

          <%= link_to " Edit" , edit_book_path(p) %>
        </a>
        <a class="btn btn-sm btn-danger me-2 "
           <%= link_to "Delete", book_path(p), data: {
             turbo_method: :delete,
             turbo_confirm: "Are you sure?"
           } %>
           </a>
      </div>
    </div>
  <% end %>

</div>